<ion-view title="Ayuda">

  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  

  <ion-content data-tap-disabled="true">

	<div id="info_ayuda">
	 <h2 id="info_ayuda_cat">CATEGORÍAS</h2>
			<div id="ayuda_cat">
				
					<div class="info_ali">Elikagaiak / Alimentación</div>
					<div class="info_ropa">Arropa eta Oinetakoak / Ropa y Calzado</div>
					<div class="info_artesania">Artisautza / Artesanía</div>
					<div class="info_bar">Jatetxeak eta Tabernak / Restaurantes y Bares</div>
					<div class="info_feria">Azokak eta Merkatuak / Ferias y Mercados</div>
					<div class="info_ofi">Bulegoko Materiala / Material de Oficina</div>
					<div class="info_limpieza">Garbiketa / Limpieza</div>
					<div class="info_otros">Bestelakoak / Otros</div>
				
			
			</div>
		
			<div id="ayuda_clasi">
			 <h2>CLASIFICACIÓN PRODUCTOS</h2>
				<p id="clasi1"><img src="img/local.png"><span>Local:</span> Productos producidos en nuestro entorno. Queremos fomentar el desarrollo de la agricultura y ganadería local, y
		reducir el impacto del transporte de mercancías y el uso abusivo de invernaderos y frigoríficos.
				</p>
				<p><img src="img/ecologico.png"><span>Ecológico:</span> Productos respetuosos con el medio ambiente. Queremos alimentos más sa-
		nos y libres de transgénicos.
				</p>
				<p><img src="img/comercio_justo.png"><span>Comercio Justo:</span> Productos respetuosos con el medio ambiente. Queremos alimentos más sa-
		nos y libres de transgénicos.
				</p>
				<p><img src="img/segunda_mano.png"><span>Segunda mano:</span> Productos que han sido utilizados por otras personas pero que continúan
en buen estado.
				</p>
				<p><img src="img/reparar_reciclar.png"><span>Reparar / Reciclar:</span>Productos que pueden ser utilizados de nuevo. Queremos alargar la vida útil de
nuestras cosas reciclando o reparando.
				</p>
				<p><img src="img/mujer.png"><span>Mujer:</span>Queremos visibilizar aquellas iniciativas que son impulsadas por mujeres.
				</p>
			</div>
			<!--<h2>Facebook</h2>-->
			<div id="facebook_div"></div>
			<!--<div>Desconectar de facebook <span class="ion-log-out" onclick="facebook.logout()"></span></div>-->
			<!--
			<h2>Facebook test</h2>
			<div class="event listening button" onclick="facebook.login();">Login with Facebook</div>
			<div class="event listening button" onclick="facebook.showDialog();">Show Dialog with Facebook</div>
			<div class="event listening button" onclick="facebook.apiTest();">Test API with Facebook</div>
			<div class="event listening button" onclick="facebook.getAccessToken();">Get access token with Facebook</div>
			<div class="event listening button" onclick="facebook.logPurchase();">Log Purchase Event</div>
			<div class="event listening button" onclick="facebook.logEvent();">Log Regular Event</div>
			<div class="event listening button" onclick="facebook.getStatus();">Get login status with Facebook</div>
			<div class="event listening button" onclick="facebook.logout();">Logout with Facebook</div>
			-->
	</div>


  </ion-content>

</ion-view>
