<ion-modal-view>
  <ion-header-bar class="bar-calm">

    <h1 class="title">Ficha Comercio</h1>

    <div class="buttons">
      <button class="button button-clear" ng-click="modal.hide()">Cerrar</button>
    </div>

  </ion-header-bar>

  <ion-content class="padding">
    <h3>Nombre</h3>
    {{comercio.nombre}}
    <h3>Dirección</h3>
    {{comercio.direccion}}
    <h3>Tipo productos</h3>
    <p class='tLocal'><span >local</span></p>
    <h3>Teléfono</h3>
    {{comercio.telefono}}
    <a href="#/app/detailmap/{{comercio.id_comercio}}/">Ver en el mapa</a>
    <button class="button button-clear" ng-click="modal.hide()">Listo</button>
    
    
  </ion-content>

</ion-modal-view>
