<ion-view title="Listado">

  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  

  <ion-content>
	<form id="fListado">
		<select ng-model="filtro.categoria" >
			<option class="primera" value="">Todos</option>
			<option value="1">Alimentación</option>
			<option value="2">Artesania</option>
			<option value="3">Ferias y mercados</option>
			<option value="4">Limpieza</option>
			<option value="5">Material de oficina</option>
			<option value="6">Restarurantes y bares</option>
			<option value="7">Ropa y Calzado</option>
			<option value="8">Otros</option>
		</select>

        <div id="checkbox_etiquetas">	
			<input type="checkbox" value="1" id="tag1"  name="tip" class="custom-checkbox" ng-model="filtro.cLocal" ng-true-value="1" ng-false-value="0">
			<label for="tag1">Local&nbsp;&nbsp;</label>
			<input type="checkbox" value="3" id="tag3" name="tip" class="custom-checkbox" ng-model="filtro.cComercio" ng-true-value="1" ng-false-value="0">
			<label for="tag3">Comercio Justo</label>
			<input type="checkbox" value="2" id="tag2" name="tip" class="custom-checkbox" ng-model="filtro.cEcologico" ng-true-value="1" ng-false-value="0>
			<label for="tag2">Ecológico</label>
		</div>
		<div id="checkbox_etiquetas2">
			<input type="checkbox" value="6" id="tag6" name="tip" class="custom-checkbox" ng-model="filtro.cMujer" ng-true-value="1" ng-false-value="0">
			<label for="tag6">Mujer</label>		
			<input type="checkbox" value="4" id="tag4" name="tip" class="custom-checkbox" ng-model="filtro.cSegunda" ng-true-value="1" ng-false-value="0">
			<label for="tag4">Segunda Mano</label>
			<input type="checkbox" value="5" id="tag5" name="tip" class="custom-checkbox" ng-model="filtro.cReparar" ng-true-value="1" ng-false-value="0">
			<label for="tag5">Reparar/Reciclar</label>
		</div>

	</form>

  
  <ion-list>
        <ion-item  ng-repeat="comercio in comercios | filter: filtro">
          <span ng-click="viewDetail({{comercio.id_comercio}})">{{comercio.nombre}}({{comercio.direccion}})</span>
        </ion-item>
  </ion-list>

  </ion-content>

</ion-view>
