<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.etxea.callejeroresponsable" version="0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Callejero Responsable Gasteiz</name>
  <description>
        La aplicación Callejero Responsable Gasteiz, te ayuda a encontrar los comercios de Vitoria-Gasteiz, donde podrás realizar un consumo consciente y responsable y que forman parte del comercio justo.
    </description>
    <author email="raulperez0481@gmail.com" href="">
      Raul Perez Caballero
    </author>
    <author email="jonlatorremartinez@gmail.com" href="http://www.etxea.net/">
      Jon Latorre
    </author>
    
  <content src="index.html"/>
  <access origin="*"/>

  <icon src="res/icon.png" />

    <platform name="ios">
      <!-- iOS 8.0+ -->
      <!-- iPhone 6 Plus  -->
      <icon src="res/ios/icon-60@3x.png" width="180" height="180" />
      <!-- iOS 7.0+ -->
      <!-- iPhone / iPod Touch  -->
      <icon src="res/ios/icon-60.png" width="60" height="60" />
      <icon src="res/ios/icon-60@2x.png" width="120" height="120" />
      <!-- iPad -->
      <icon src="res/ios/icon-76.png" width="76" height="76" />
      <icon src="res/ios/icon-76@2x.png" width="152" height="152" />
      
        <!-- images are determined by width and height. The following are supported -->
        <splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
        <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
        <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
        <splash src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
        <splash src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
        <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
<!--
        <splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
        <splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>
-->
        <splash src="res/screen/ios/Default-Landscape-736h.png" width="2208" height="1242"/>

    </platform>


  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
